button,
.button {
    font-family: $secondary-font-family;
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 40px;
    font-size: 30px;
    margin: 20px auto;
    width: fit-content;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: center;

    @include breakpoints(md) {
        font-size: 40px;
    }

    &.grey {
        background-color: $grey;
        color: $white;

        &:hover {
            background-color: $d-red;
            color: $white;
        }
    }
}

.is-style-black-large-cta {
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 1rem;
}

.wp-element-button,
.wp-block-button__link {
    background-color: transparent;
    padding: 0;
}