.header {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1000;
    .container {
        padding: 5px 4.6875%;
        display: flex;
        background-color: $white;
        box-shadow: 0px 0px 20px 0px rgba($grey, 0.2);
        align-items: center;
        height: 50px;
        position: relative;
        .site-branding {
            max-height: 100%;
            
            a,
            img {
                display: flex;
                max-height: 40px;
                width: auto;
            }
        }
        &::after{
            position: absolute;
            content: '';
            background: url('../image/Pelo_Head.png');
            height: 50px;
            width: 190px;
            background-repeat: no-repeat;
            right: 0;
        }
    }

}