.go-down {
    display: none;

    @include breakpoints(xxsm) {
        position: fixed;
        bottom: 5%;
        left: 5%;
        width: 80px;
        height: 110px;
        background-image: url('../../dist/image/down.svg');
        z-index: 100;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 1s ease-in-out;

        &:hover {
            rotate: -5deg;
            cursor: pointer;

            &::after {
                rotate: 5deg;
                filter: brightness(0.6);
            }
        }

        &::after {
            content: '';
            display: block;
            width: 30px;
            height: 70px;
            background-image: url('../../dist/image/arrowdown.svg');
            z-index: 100;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            transition: all 1s ease-in-out;

        }
    }

}

// Hamburger menu
.menu-toggle {
    display: flex;
    align-items: center;
    background-color: transparent;
    height: 20px;
    border: none;
    line-height: 1;
    @include breakpoints(md) {
        display: none;
    }

    &:hover {
        cursor: pointer;
    }

    span,
    span::before,
    span::after {
        width: 1.125rem;
        border-radius: 0.125rem;
        background-color: $d-red;
        transition: .5s cubic-bezier(.19, 1, .22, 1);
    }

    span {
        display: block;
        position: relative;
        height: .125rem;
        margin-left: .2rem;

        &::before,
        &::after {
            content: "";
            position: absolute;
            display: block;
            height: 100%;
            top: 0;
            left: 0;
        }

        &::before {
            transform: translateY(-0.3125rem);

            .header--menu-is-open & {
                transform: rotate(-135deg);
            }
        }

        &::after {
            transform: translateY(0.3125rem);

            .header--menu-is-open & {
                transform: rotate(135deg);
            }
        }

        .header--menu-is-open & {
            background-color: transparent;
        }
    }
}

// .menu-toggle {
//     display: none;
// }

div.menu {
    display: none;
    @include breakpoints(md) {
        display: block;
    }
    ul {
        margin-left: 4vw;
        display: flex;
        gap: 3vw;
    }

    ul,
    li {
        list-style: none;
        padding: 0;
        width: fit-content;

        a {
            text-decoration: none;
            color: $grey;
            transition: all 0.5s ease-in-out;

            &:hover {
                color: $d-red;
            }
        }
    }
}

.main-navigation.menu-is-open {
    .menu {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        background-color: $white;
        > ul {
            margin-left: 0;
            padding: 2rem 0 1rem;
            background-image: url(../image/peloton-menu.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right;
        }
        li {
            width: 100%;
            text-align: center;
            line-height: 2;
            padding: .8rem 0;
            a {
                font-size: 1.2rem;
            }
        }
    }
}