@import '../../../../src/scss/abstracts/all.scss';

// Call all variables 
.sponsor {
    .content {
        background-image: url('../../../../dist/image/back-upp.svg');
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        gap: 5%;
        padding: 5vh 0;
        max-height: 500px;

        @include breakpoints(xsm) {
            padding: 10vh 0;
            background-size: contain;
            flex-direction: row;

        }

        figure {
            margin: 0;
        }

        .logo-spon {
            img {
                width: 14vw;
                min-width: 150px;
                height: auto;
            }
        }

        .texte {
            display: flex;
            flex-direction: column;
            padding: 5%;

            p {
                font-family: $secondary-font-family;
                color: $beige;
                font-size: 20px;

                @include breakpoints(xsm) {
                    font-size: 30px;
                }

                @include breakpoints(md) {
                    font-size: 45px;
                }

                &:first-of-type {
                    font-size: 30px;

                    @include breakpoints(xsm) {
                        font-size: 40px;
                    }

                    @include breakpoints(md) {
                        font-size: 65px;
                    }
                }
            }
        }


        .ffc {
            width: 14vw;
            min-width: 150px;
            bottom: 10%;
            right: 10%;

            @include breakpoints(xsm) {
                position: absolute;

            }

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}