* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    @include hover {
        text-decoration: none;
    }
}

a:visited {
    color: currentColor;
}

.alignwide {
    max-width: var(--wp--style--global--wide-size);
    margin-left: auto;
    margin-right: auto;
}